$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/lb';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

body {
	background: url(../images/bg.jpg) no-repeat;
	background-position: 50%;
	background-size: cover;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
	min-height: 100vh;
	background: rgba($black, .5);
	padding: 40px 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	@include media("≥desktop") {
		min-width: 1400px;
	}
}

.holder{
	overflow: auto;
}

.frame {
	display: table;
	width: 100%;
}

.row {
	min-width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 0 15px;
}

.gr {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	border: 2px solid #0c0c0c;
	padding: 4px;
	border-radius: 10px;
	background: rgba($black, .75);
	position: relative;

	.ver & {
		display: block;

		.card + .card {
			margin: 20px 0 0;
		}

		+ .gr {
			margin-left: 14px;
		}
	}

	+ .gr {
		margin-left: 20px;
	}

	.icn {
		position: absolute;
		top: 50%;
		left: 50%;
		@include size (20px);
		z-index: 3;
		margin: -10px 0 0 -10px;
	}

	.icon{
		display: block;
		@include size (100%);
		fill: #b02525;
	}
}

.sprite {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.card {
	@include size(140px);
	border: 2px solid #0c0c0c;
	border-radius: 10px;
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 15px rgba($black, .5);
	@include media("≥desktop") {
		@include size (170px);
	}

	.lg & {
		@include size (150px);
	}

	.md & {
		@include size (130px);

		.title {
			font-size: 16px;
		}
	}

	.sm & {
		@include size (60px);

		.title {
			font-size: 10px;
		}
	}

	+ .card {
		margin-left: 20px;
	}

	img {
		transition: all 5s ease;
		border-radius: 8px;
	}

	.descr {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		color: $black;
		background: rgba($black, .5);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		transition: all .4s ease;
		transform: translateY(100%);
		padding: 4px;
		background: #ccc;
		border-radius: 8px;
	}

	&:hover {
		.descr {
			transform: translateY(0);
		}
	}

	.title {
		font-weight: normal;
		font-size: 18px;
	}
}